.car-care-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em auto;
  width: fit-content;
  position: relative;
  padding: 5em;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.car-care-form-container form {
  display: flex;
  flex-direction: column;
}
.car-care-form-container input[type="text"],
.car-care-form-container input[type="email"],
.car-care-form-container input[type="tel"],
.car-care-form-container input[type="date"],
.car-care-form-container input[type="time"] {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 1em;
}
.car-care-form-container input[type="submit"] {
  border: none;
  outline: none !important;
  background-color: #1e69b8;
  color: white;
  font-size: 14px;
  padding: 1em 3em;
  transition: 500ms;
  border-radius: 5px;
}
.form .submit {
  display: flex;
  justify-content: center;
}
.car-care-form-container input[type="submit"]:hover {
  background-color: white;
  border: 1px solid #1e69b8;
  color: #1e69b8;
  cursor: pointer;
}
.car-care-form-container .texts {
  display: flex;
  justify-content: space-around;
}
.register-label {
  padding-top: 2em;
  font-size: 1.2em !important;
  color: brown;
}
.total {
  display: flex;
  align-items: baseline;
  padding: 1em;
}
.voucher-btn {
  cursor: pointer;
  padding: 0.3em 0.7em;
  background-color: #1e69b8;
  color: white;
  border: none;
  outline-style: none;
  border-radius: 5px;
  margin-left: 1em;
}
.voucher-btn:hover {
  background-color: hsla(211, 100%, 27%, 0.993);
}
