.logIn {
  height: 100vh;
  padding-top: 6em;
  padding-left: 2em;

  background-image: linear-gradient(
      rgba(81, 192, 243, 0.5),
      rgb(255, 255, 255, 0.63)
    ),
    url("../../../public/page-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "Numans", sans-serif;
}

.card1 {
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 55px;
}

.card-header h3 {
  color: #0aa5cd !important;
}

.input-group-prepend span {
  width: 50px;
  background-color: #0aa5cd;
  color: white;
  border: 0 !important;
  border-radius: 26% 74% 27% 73% / 0% 100% 0% 100%;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #0aa5cd;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.reg {
  display: flex !important  ;
  flex-direction: column !important;
  align-items: center;
}
.reg .card-footer a {
  margin: auto 0.3em;
}
.links {
  color: white;
}
.login_btn2 {
  color: white;
  background-color: #192032 !important;
  border-radius: 10px;
  padding: 1em 2em;
  /* border-radius: 26% 74% 27% 73% / 0% 100% 0% 100%; */
}

.login_btn2:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.links a {
  margin-left: 4px;
  color: #0aa5cd;
}

@media only screen and (max-width: 426px) {
  .card {
    width: 100%;
    margin-right: 1em;
  }
  .social_icon {
    right: 8px;
  }
}
@media only screen and (max-width: 570px) {
  .card-footer2 {
    font-size: 0.8em;
    padding: 0.5em;
  }
  .card1 {
    width: 100%;
    height: 22em;
    margin-right: 1.5em;
  }
}
@media only screen and (max-width: 375px) {
  .card1 {
    width: 100%;
  }
  .fab:before {
    font-size: 0.7em;
  }

  .card-header h3 {
    margin-top: 1em;
  }
  .remember,
  .remember input {
    padding-bottom: 1em;
  }

  .links {
    font-size: 1em;
  }
  .links a {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
}
